<ion-view title="Como llegar a...">
	
	<!--
	<ion-nav-buttons side="right">
		<a href="#/home" class="button icon ion-home"></a>
	</ion-nav-buttons>
	-->

	<!--
	<ion-header-bar class="bar-positive ion-header-bar">
		<button class="button icon ion-navicon" menu-toggle="left"></button>
		<h1 class="title">Paradas guardadas</h1>
		<a href="#/home" class="button icon ion-home"></a>
	</ion-header-bar>
	-->

	<ion-content class="has-header" padding="true" overflow-scroll="true">

		<div class="card about-contact">
			<div class="item item-text-wrap">
				<h2 style="font-size: 20px; margin-bottom: 15px; ">Calcular trayecto</h2>
				Origen: <i class="icon ion-location" style="padding: 0 5px;"></i><span style="font-weight: 500;">Francesc Fiol i Juan, 2</span><br>
				<input type="text" style="border-bottom: 1px solid #efefef" placeholder="Buscar destino">
			</div>
		</div>



	</ion-content>
</ion-view>
